<%- partial('./_partials/_pageNav') %>
<div class="container w-container">
  <div class="section"><img src="images/logo-large.png" width="250" srcset="images/logo-large-p-500.png 500w, images/logo-large.png 865w" sizes="(max-width: 479px) 92vw, 250px" alt="" class="title-logo">
    <h1 class="subtitle center">ไม่พบหน้าที่คุณค้นหา</h1>
    <p class="content text center">โปรดกลับไปหน้าแรก</p>
</div>
