<div>
  <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="slider w-slider">
    <div class="w-slider-mask">
      <div class="w-slide">
        <div class="slide-wrapper">
          <div class="banner-wrapper w-row">
            <div class="left-banner w-col w-col-6"><img src="images/Braces.png" alt="" class="banner-image"></div>
            <div class="right-banner w-col w-col-6">
              <h1 class="banner-title">จัดฟัน</h1>
              <h1 class="banner-subtitle">เริ่มต้นที่ 39,000 บาท</h1><a href="/pricing/ortho" class="banner-button w-button">คลิกที่นี่</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="slide-wrapper">
          <div class="banner-wrapper w-row">
            <div class="left-banner w-col w-col-6"><img src="images/Implant.png" alt="" class="banner-image padding-left"></div>
            <div class="right-banner w-col w-col-6">
              <h1 class="banner-title">รากฟันเทียม</h1>
              <h1 class="banner-subtitle">เริ่มต้นเพียง<br>39,000 บาท</h1><a href="/pricing/implants" class="banner-button w-button">คลิกที่นี่</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="slide-wrapper">
          <div class="banner-wrapper w-row">
            <div class="left-banner w-col w-col-6"><img src="images/teeth-whitening.png" alt="" class="banner-image padding-left"></div>
            <div class="right-banner w-col w-col-6">
              <h1 class="banner-title">ฟอกสีฟัน</h1>
              <h1 class="banner-subtitle">เริ่มต้น 3,900 บาท</h1><a href="/pricing/bleaching" class="banner-button w-button">คลิกที่นี่</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-arrow w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="right-arrow w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="slide-nav w-slider-nav w-round"></div>
  </div>
</div>
