<div class="footer">
  <img src="images/logo-large-white.png" srcset="/images/logo-large-white-p-500.png 500w, /images/logo-large-white-p-800.png 800w, /images/logo-large-white.png 865w" sizes="(max-width: 479px) 150px, 250px" alt="" class="footer-logo">
  <div class="footer-content">
    <p>ชั้น 1 เอสพลานาด งามวงศ์วาน-แคราย<br>เปิดทำการทุกวัน เวลา 10.30 - 20.30น.<br></p>
    <p>โทร 094-965-2642<br></p>
    <p>หรือ 02-591-5565<br></p>
  </div>
  <div class="social-links">
    <a class="fab fa-line" href="https://line.me/R/ti/p/%40ovo7080y"></a>
    <a class="fab fa-facebook" href="https://www.facebook.com/smiledelight.dc"></a>
  </div>
</div>
