<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation w-nav" style="border-bottom:2px solid #00d6cb">
  <div class="w-container">
    <div class="navigation-wrapper"><a href="/" class="logo-wrapper w-nav-brand"><img src="/images/logo-large.png" width="235" srcset="/images/logo-large-p-500.png 500w, /images/logo-large.png 865w" sizes="(max-width: 479px) 39vw, (max-width: 767px) 140px, 150px"
          alt="" class="logo"></a>
      <div class="action-wrapper"><a href="/" class="navigation-action w-nav-link">หน้าแรก</a></div>
    </div>
  </div>
</div>
