<%- partial('../_partials/_pageNav') %>
<div class="w-container">
  <div class="section">
    <h1 class="page-heading">ค่าบริการ</h1>
    <h1 class="page-title">ฟอกสีฟัน</h1>
    <div class="pricing-table">
      <div class="pricing-list">
        <p class="service">ฟอกสีฟันที่คลินิกระบบ Cool light (Office bleaching)</p>
        <p class="price">7,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ฟอกสีฟันที่บ้าน (Home bleaching)</p>
        <p class="price">5,500</p>
      </div>
      <div class="pricing-list">
        <p class="service">น้ำยาฟอกสีฟันที่บ้าน</p>
        <p class="price">หลอดละ 600</p>
      </div>
      <div class="pricing-list">
        <p class="service">ถาดฟอกสีฟัน</p>
        <p class="price">ชิ้นละ 2,000</p>
      </div>
    </div>
    <div class="section">
      <h1 class="page-heading">บริการอื่น</h1>
      <div class="page-service-links">
        <a href="/pricing/ortho">จัดฟัน</a>
        <a href="/pricing/implants">รากฟันเทียม</a>
        <a href="/pricing/veneers-crown">วีเนียร์ & ครอบฟัน</a>
        <a href="/pricing/denture">ฟันปลอม</a>
        <a href="/pricing/dental">ทันตกรรมทั่วไป</a>
      </div>
    </div>
  </div>
</div>
