<%- partial('../_partials/_pageNav') %>
<div class="w-container">
  <div class="section">
    <h1 class="page-heading">ค่าบริการ</h1>
    <h1 class="page-title">ทันตกรรมทั่วไป</h1>
    <div class="pricing-table">
      <div class="pricing-list">
        <p class="service">อุดฟัน</p>
        <p class="price">700 - 1,600</p>
      </div>
      <div class="pricing-list">
        <p class="service">ขูดหินปูน</p>
        <p class="price">700 - 1,500</p>
      </div>
      <div class="pricing-list">
        <p class="service">ถอนฟัน</p>
        <p class="price">700 - 1,500</p>
      </div>
      <div class="pricing-list">
        <p class="service">ผ่าฟันคุด</p>
        <p class="price">1,500 - 4,500</p>
      </div>
      <div class="pricing-list">
        <p class="service">เคลือบฟลูออไรด์</p>
        <p class="price">500</p>
      </div>
      <div class="pricing-list">
        <p class="service">รักษารากฟันหน้า</p>
        <p class="price">4,000 - 6,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">รักษารากฟันกรามน้อย</p>
        <p class="price">6,000 - 8,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">รักษารากฟันกรามใหญ่</p>
        <p class="price">9,000 - 12,000</p>
      </div>
    </div>
    <div class="section">
      <h1 class="page-heading">บริการอื่น</h1>
      <div class="page-service-links">
        <a href="/pricing/ortho">จัดฟัน</a>
        <a href="/pricing/bleaching">ฟอกสีฟัน</a>
        <a href="/pricing/implants">รากฟันเทียม</a>
        <a href="/pricing/veneers-crown">วีเนียร์ & ครอบฟัน</a>
        <a href="/pricing/denture">ฟันปลอม</a>
      </div>
    </div>
  </div>
</div>
