<%- partial('../_partials/_pageNav') %>
<div class="w-container">
  <div class="section">
    <h1 class="page-heading">ค่าบริการ</h1>
    <h1 class="page-title">ฟันปลอม</h1>
    <div class="pricing-table">
      <div class="pricing-list">
        <p class="service">ฟันปลอมบางส่วนฐานอะคริลิก (TP)</p>
        <p class="price">3,500 - 4,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ฟันปลอมบางส่วนฐานยืดหยุ่นได้ (Valplast)</p>
        <p class="price">49,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ฟันปลอมบางส่วนฐานโลหะ (RPD)</p>
        <p class="price">8,000 - 18,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ฟันปลอมทั้งปาก (Completed denture)</p>
        <p class="price">25,000 - 30,000</p>
      </div>
    </div>
    <div class="section">
      <h1 class="page-heading">บริการอื่น</h1>
      <div class="page-service-links">
        <a href="/pricing/ortho">จัดฟัน</a>
        <a href="/pricing/bleaching">ฟอกสีฟัน</a>
        <a href="/pricing/implants">รากฟันเทียม</a>
        <a href="/pricing/veneers-crown">วีเนียร์ & ครอบฟัน</a>
        <a href="/pricing/dental">ทันตกรรมทั่วไป</a>
      </div>
    </div>
  </div>
</div>
