<%- partial('../_partials/_pageNav') %>
<div class="w-container">
  <div class="section">
    <h1 class="page-heading">ค่าบริการ</h1>
    <h1 class="page-title">ทันตกรรมทั่วไป</h1>
    <h1>ไม่มีข้อมูล</h1>
    <div class="section">
      <h1 class="page-heading">บริการอื่น</h1>
      <div class="page-service-links">
        <a href="/pricing/ortho">จัดฟัน</a>
        <a href="/pricing/bleaching">ฟอกสีฟัน</a>
        <a href="/pricing/implants">รากฟันเทียม</a>
        <a href="/pricing/veneers-crown">วีเนีบร์ & ครอบฟัน</a>
        <a href="/pricing/denture">ฟันปลอม</a>
      </div>
    </div>
  </div>
</div>
