<%- partial('../_partials/_pageNav') %>
<div class="w-container">
  <div class="section">
    <h1 class="page-heading">ค่าบริการ</h1>
    <h1 class="page-title">รากฟันเทียม</h1>
    <div class="pricing-table">
      <div class="pricing-list">
        <p class="service">รากฟันเทียม Dentium</p>
        <p class="price">39,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">รากฟันเทียม Conelog</p>
        <p class="price">49,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">รากฟันเทียม Astra</p>
        <p class="price">59,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">Stent สำหรับรากฟันเทียม</p>
        <p class="price">2,000</p>
      </div>
    </div>
    <div class="section">
      <h1 class="page-heading">บริการอื่น</h1>
      <div class="page-service-links">
        <a href="/pricing/ortho">จัดฟัน</a>
        <a href="/pricing/bleaching">ฟอกสีฟัน</a>
        <a href="/pricing/veneers-crown">วีเนีบร์ & ครอบฟัน</a>
        <a href="/pricing/denture">ฟันปลอม</a>
        <a href="/pricing/dental">ทันตกรรมทั่วไป</a>
      </div>
    </div>
  </div>
</div>
