<%- partial('../_partials/_pageNav') %>
<div class="w-container">
  <div class="section">
    <h1 class="page-heading">ค่าบริการ</h1>
    <h1 class="page-title">วีเนียร์ & ครอบฟัน</h1>
    <div class="pricing-table">
      <div class="pricing-list">
        <p class="service">วีเนียร์ (Ceramic Veneer)</p>
        <p class="price">9,000 - 12,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ครอบฟันโลหะ (Full metal crown)</p>
        <p class="price">9,000 - 24,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ครอบฟันโลหะกับเซรามิค (Porcelain fused to metal crown)</p>
        <p class="price">8,000 - 18,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">ครอบฟันเซรามิคล้วน (All ceramic crown)</p>
        <p class="price">12,000 - 18,000</p>
      </div>
      <div class="pricing-list">
        <p class="service">เดือยและก่อแกนฟัน (Post & Core build up)</p>
        <p class="price">4,000 - 4,500</p>
      </div>
    </div>
    <div class="section">
      <h1 class="page-heading">บริการอื่น</h1>
      <div class="page-service-links">
        <a href="/pricing/ortho">จัดฟัน</a>
        <a href="/pricing/bleaching">ฟอกสีฟัน</a>
        <a href="/pricing/implants">รากฟันเทียม</a>
        <a href="/pricing/denture">ฟันปลอม</a>
        <a href="/pricing/dental">ทันตกรรมทั่วไป</a>
      </div>
    </div>
  </div>
</div>
